#welcome {
    margin-top: 50px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

p {
  font-size: 16px;
}
  html {
    font-family: system-ui; 
    height: auto;
  }
  
  .visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
    
  }
  
  h1 {
    color: white;
    text-align: center;
    margin-top: 1em;
  }
  
  .container {
    overflow: hidden;
    padding: 20px;
    margin-top: 2em; 
    
  }
  
  .card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
  }
  
  .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background: whitesmoke;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,0,0,.5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card.highlight {
    filter: brightness(1)
  }
  
  
  .card:nth-of-type(1) .image-container {
      background-image: url("images/dojo.jpg")
  }
  
  .card:nth-of-type(2) .image-container {
    background-image: url("images/Google_Forms_2020_Logo.svg")
  }
  
  .card:nth-of-type(3) .image-container {
    background-image: url("images/gclassroom.jpg")
  }
  .card:nth-of-type(4) .image-container {
    background-image: url("images/teams.jpg")
  }
  .card:nth-of-type(5) .image-container {
    background-image: url("images/zoom.jpg")
  }
  
  
  .image-container {
    width: 8em;
    height: 8em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
    
  }
  
  .image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0,0,0,.1);
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
  }
  









header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

    
header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

.homeimg{
  margin-left: 55rem;
}












@media (max-width: 1824px) {
  .homeimg{
    margin-left: 46%;
  }  
}

@media (max-width: 1700px) {

}

@media (max-width: 1600px) {

}

@media (max-width: 1600px) {

}

@media (max-width: 1400px) {

}

@media (max-width: 1300px) {

}

@media (max-width: 1186px) {

}

@media (max-width: 1068px) {
}

@media (max-width: 1000px) {
  .homeimg{
    margin-left: 42%;
  }  
}

@media (max-width: 620px) {
  .homeimg{
    margin-left: 38%;
  }  
}

@media (max-width: 500px) {
  .homeimg{
    margin-left: 34%;
  }  
}

@media (max-width: 420px) {
  .homeimg{
    margin-left: 31%;
  }  
}













